.contenedor-cambio-clave{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.cambio-clave{
    padding: 20px;
    margin: 0 auto;
}
.cambio-clave h1{
    display: block;
    padding: 20px 0;
    text-align: center;
    color: rgb(77, 77, 77);
}
.cambio-clave .label{
    display: block;
    font-size: 20px;
    padding: 20px;
}
.cambio-clave .texto{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.cambio-clave .botones{
    margin-top: 20px;
}
.cambio-clave .boton-guardar{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background: transparent;
}
.cambio-clave .boton-guardar:hover{
    transition: ease all .3s;
    background: rgba(255, 99, 71, 0.694);
    font-size: 20px;
}